<html lang="en" ng-app="app">

<head>
    <meta name="viewport" content="initial-scale=1" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">

    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular&#45;material/1.1.0&#45;rc4/angular&#45;material.css" type="text/css" media="all"> -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type='text/css'>
    <link rel="stylesheet" href="libs/angular-material/angular-material.css" type="text/css" media="all">
    <link rel="stylesheet" href="directives/mxServicePicker.directive.css" media="all">
    <style>

      body {
         padding-top: 5vw;
      }

      form {
         margin: auto;
      }

      [md-highlight-text] .highlight {
         color: red !important;
      }

      form,
      md-autocomplete {
         width: 900px;
      }

       pre {
          padding-left: 1rem;
       }

       h1 {
          margin-bottom: -1rem;
       }

       h4 {
          padding-left: 1rem;
       }

       md-checkbox {
          width: 25%;
       }

       md-checkbox span {
          -webkit-user-select: none;
          user-select: none;
       }

       input {
          box-shadow: none !important;
       }

       md-input-container .md-input {
          margin-bottom: -1px;
       }

    </style>
</head>

<body>

    <script src="libs/angular/angular.js"></script>
    <script src="libs/angular-animate/angular-animate.js"></script>
    <script src="libs/angular-aria/angular-aria.js"></script>
    <script src="libs/angular-material/angular-material.js"></script>
    <script src="libs/angular-messages/angular-messages.js"></script>

   <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.7/angular.js"></script> -->
   <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.7/angular&#45;animate.js"></script> -->
   <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.7/angular&#45;aria.js"></script> -->
   <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.7/angular&#45;messages.js"></script> -->
   <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/angular&#45;material/1.1.0&#45;rc4/angular&#45;material.js"></script> -->

   <!-- <script src="libs/angular&#45;sanitize/angular&#45;sanitize.js"></script> -->
   <!-- <script src="libs/html2canvas/build/html2canvas.min.js"></script> -->
   <!-- <script src="libs/ua&#45;parser&#45;js/dist/ua&#45;parser.min.js"></script> -->
   <!-- <script src="libs/ng&#45;file&#45;upload/ng&#45;file&#45;upload.js"></script> -->
   <!-- <script src="libs/angular&#45;ui&#45;grid/ui&#45;grid.js"></script> -->
   <!-- <script src="libs/angular&#45;route/angular&#45;route.js"></script> -->
   <!-- <script src="libs/tinymce&#45;dist/tinymce.js"></script> -->
   <!-- <script src="libs/angular&#45;ui&#45;tinymce/src/tinymce.js"></script> -->
   <!-- <script src="libs/sc&#45;date&#45;time/dist/sc&#45;date&#45;time.js"></script> -->
   <!-- <script src="libs/mx.components/mx.components.all.js"></script> -->
   <!-- <script src="libs/moment/moment.js"></script> -->
   <!-- <script src="libs/angular&#45;moment/angular&#45;moment.js"></script> -->
   <!-- <script src="libs/oclazyload/dist/ocLazyLoad.js"></script> -->

   <!-- ================================================================================  -->

    <script src="backend.js"></script>

    <script src="app.js"></script>

    <script src="filters/debug.js"></script>

    <script src="controllers/demo.ctrl.js"></script>
    <script src="controllers/mxServicePicker.ctrl.js"></script>

    <script src="services/mxServicePicker.js"></script>

    <script src="directives/mxClearPickerBtn.directive.js"></script>
    <script src="directives/mxServicePicker.directive.js"></script>
    <script src="directives/mxServicePickerAutocomplete.directive.js"></script>
    <script src="directives/mxSglclick.directive.js"></script>

   <!-- ================================================================================  -->

    <div ng-controller="DemoCtrl as demoCtrl">

        <form>

           <mx-service-picker
              label            = "Service picker"
              mode             = "{{ demoCtrl.mode }}"
              ng-disabled      = "demoCtrl.isDisabled"
              required         = "demoCtrl.isRequired"
              read-only        = "demoCtrl.isReadonly"
              ng-model         = "demoCtrl.someModel"
              navigate-host    = "demoCtrl.onNavigateHost"
              navigate-service = "demoCtrl.onNavigateService"
            ></mx-service-picker>

            <div layout="column" layout-padding>
               <md-checkbox ng-model="demoCtrl.isRequired">Required</md-checkbox>
               <md-checkbox ng-model="demoCtrl.isDisabled">Disabled</md-checkbox>
               <md-checkbox ng-model="demoCtrl.isReadonly">Read-only</md-checkbox>

               <md-input-container>
                  <label>Search query mode:</label>
                  <md-select placeholder="Select a query mode" ng-model="demoCtrl.mode">
                     <md-option ng-value="mode" ng-repeat="mode in demoCtrl.modes">{{ mode }}</md-option>
                  </md-select>
               </md-input-container>
            </div>

        </form>

        <pre>
            <h1>mx-service-picker directive API:</h1>

            <b style="font-size: 1rem;">&lt;mx-service-picker</b>
                ng-disabled      = "demoCtrl.isDisabled"
                required         = "demoCtrl.isRequired"
                read-only        = "demoCtrl.isReadonly"

                label            = "Service picker"

                ng-model         = "demoCtrl.someModel"

                navigate-host    = "demoCtrl.onNavigateHost"
                navigate-service = "demoCtrl.onNavigateService"
            <b style="font-size: 1rem;">&gt;</b>

            <h1>Binding settings:</h1>

      <span style="font-size: 1rem;">
         bindToController: {

            <b>// Boolean</b>
                  disabled          : "=ngDisabled",
                  required          : "=",
                  readOnly          : "="

            <b>// String</b>
                  label             : "@",

            <b>// Function</b>
                   navigateHost    : "=",
                   navigateService : "=",

            <b>// Object</b>
                  model             : "=ngModel"

         }
      </span>

        </pre>

    </div>
    <!-- DemoCtrl end  -->

</body>
</html>
