   <!-- md&#45;items                  = "vm.model.search({ mode: vm.mode, keyword: md&#45;search&#45;text })" -->

<md-autocomplete
   clear-autocomplete-btn
   mx-service-autocomplete
   md-items                  = "item in [1,2,3]"
   md-search-text            = "vm.keyword"
   md-match-case-insensitive = "true"
   md-no-cache               = "true"
   md-select-on-match        = "true"
   ng-disabled               = "vm.disabled"
   ng-required               = "vm.required"
   md-min-length             = "0"
   md-floating-label         = "{{ :: vm.label }}"
   md-input-name             = "autocomplete"
   md-search-text-change     = "vm.model.search(vm)"
   md-delay                  = "300"
   spellcheck                = "false"
>
        <md-item-template>

           <section ng-if="vm.mode === 'service' ">
               <span md-highlight-flags="^i">Service: {{ item }}</span>
           </section>

           <section ng-if="vm.mode === 'operation' ">
               <span md-highlight-flags="^i">Operation: {{ item }}</span>
           </section>

        </md-item-template>
</md-autocomplete>
