/* ================================================================================ */
/*                              clear-autocomplete btn styles                       */
/* ================================================================================ */
.clear-autocomplete {
    position: absolute;
    top: 10% !important;
    right: 0;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.25s linear;
    z-index: 100;
}

.clear-autocomplete--offset {
    right: 20px !important;
}

.clear-autocomplete.visible {
    visibility: visible;
    opacity: 1;
    cursor: pointer;
}

.clear-autocomplete i {
    font-size: 20px;
}

.clear-autocomplete {
    cursor: pointer;
    -webkit-user-select: none;
}

mx-service-picker md-autocomplete button md-icon {
    z-index: 100;
}
/* ================================================================================ */
/*                          mx-picker-service styles                                */
/* ================================================================================ */
.mx-autocomplete-section {
    background: #fff;
    font-weight: bold;
    padding: 10px 0 10px 10px;
    cursor: default;
}

.mx-autocomplete-section.hidden {
    display: none;
}

.mx-service-picker-suggestions .md-autocomplete-suggestions {
    display: flex;
    flex-direction: column;
}

.mx-service-picker-suggestions .hosts,
.mx-service-picker-suggestions .services,
.mx-service-picker-suggestions .operations {
    display: block !important;
}

.mx-service-picker-suggestions .hosts {
    order: 0;
}

.mx-service-picker-suggestions .host {
    order: 1;
}

.mx-service-picker-suggestions .services {
    order: 2;
}

.mx-service-picker-suggestions .service {
    order: 3;
}

.mx-service-picker-suggestions .operations {
    order: 4;
}

.mx-service-picker-suggestions .operation {
    order: 5;
}

 .mx-service-picker-suggestions {
    min-height: 300px;
}

mx-service-picker md-autocomplete.md-default-theme button.clear-autocomplete:after,
mx-service-picker md-autocomplete button.clear-autocomplete:after {
    background: none;
}

mx-service-picker .readonly input {
    background-position: bottom -1px left 0;
    background-size: 4px 1px;
    background-repeat: repeat-x;
    border-bottom-color: transparent;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.38) 0%, rgba(0, 0, 0, 0.38) 33%, transparent 0%);
    background-image: -ms-linear-gradient(left, transparent 0%, rgba(0, 0, 0, 0.38) 100%);
}

mx-service-picker-autocomplete {
    display: block;
    position: relative;
}
/* ================================================================================ */
/* popover styles */
/* ================================================================================ */
.autocomplete-popover {
    position: absolute;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    left: 15px;
    top: 12px;
    font-size: 14px;
}

[md-floating-label] .autocomplete-popover {
    left: 4px;
    top: 8px;
    font-size: 16px;
}

.autocomplete-popover span {
    transition: 0.3s all ease-in-out;
    text-decoration: underline;
    /* color: $mx_palette_Accent_500; */
    color: #fc8529;
}

.autocomplete-popover span:hover {
    color: #0399d7;
    text-decoration: underline;
    text-decoration-style: dashed;
    -webkit-text-decoration-style: dashed;
    cursor: pointer;
}

.autocomplete-popover span:focus {
    outline: 0;
}
/* ================================================================================ */
