<!-- md&#45;items                  = "vm.model.search({ mode: vm.mode, keyword: md&#45;search&#45;text })" -->

<mx-service-picker-autocomplete
   mx-clear-picker-btn
   md-items                  = "item in vm.search({ mode: vm.mode, keyword: vm.keyword, hostId: vm.currentHost.id, serviceId: vm.currentService.id })"
   md-selected-item          = "vm.model"
   md-item-text              = "item.name"
   md-search-text            = "vm.keyword"
   md-autoselect             = "true"
   md-select-on-match        = "true"
   md-match-case-insensitive = "true"
   md-selected-item-change   = "vm.onItemChange(item, vm.keyword)"
   md-search-text-change     = "vm.onTextChange(vm.keyword)"
   md-no-cache               = "true"
   ng-disabled               = "vm.disabled || (vm.readOnly && !vm.model)"
   ng-required               = "vm.required"
   md-min-length             = "+vm.readOnly || 0"
   md-floating-label         = "{{ :: vm.label }}"
   md-input-name             = "autocomplete"
   md-delay                  = "300"
   spellcheck                = "false"
   mode                      = "vm.mode"
   ng-class                  = "{ readonly: vm.readOnly }"
>
   <!-- md&#45;search&#45;text&#45;change     = "vm.model.search(vm)" -->
        <md-item-template>
           <div ng-if="item.type === 'title' ">
               <span md-highlight-flags="^i" md-highlight-text="vm.keyword">{{ item.shortName }}</span>
           </div>

           <div ng-if="item.type === 'service' ">
              <span md-highlight-flags="^i" md-highlight-text="vm.keyword">{{ item.shortName }}</span>

              <div>
                 <b>URL:</b>
                 <i>http://silverback.de/api/<span md-highlight-flags="^i" md-highlight-text="vm.keyword">{{ item.shortName }}</span></i>
              </div>

           </div>

           <div ng-if="item.type === 'operation' ">
               <span md-highlight-flags="^i" md-highlight-text="vm.keyword">{{ item.shortName }}</span>

               <div>
                  GET http://silverback.de/api/<span md-highlight-flags="^i" md-highlight-text="vm.keyword">{{ item.name.split('.')[1] }}/{{ item.id }}</span>
               </div>
           </div>

        </md-item-template>
        <md-not-found>
            <b>"{{vm.keyword}}"</b> not found.
        </md-not-found>
        <div
           class    = "autocomplete-popover"
           tabindex = "-1"
           ng-if    = "vm.model"
        >
            <span
               tabindex    = "-1"
               ng-dblclick = "vm.dblClick($event, 'host')"
               mx-sglclick = "vm.navigateHost(vm.keyword.split('.')[0])"
            >
               {{ vm.keyword.split('.')[0] }}
            </span>
            <span
               tabindex    = "-1"
               ng-dblclick = "vm.dblClick($event, 'service')"
               mx-sglclick = "vm.navigateService(vm.keyword.split('.')[1])"
            >
               {{ vm.keyword.split('.')[1] }}
            </span>
        </div>

</mx-service-picker-autocomplete>

<h5><span>Query: </span>{{ $parent.query || 'None' }}</h5>
<hr>
<h5><span>Query result: </span>{{ $parent.result || 'None' }}</h5>
<hr>
<h5><span>Current model (vm.model): </span>{{ vm.model || 'None' }}</h5>
<hr>
<h5><span>Current host: </span>{{ vm.currentHost || 'None' }}</h5>
<hr>
<h5><span>Current service: </span>{{ vm.currentService || 'None' }}</h5>
<hr>
<h5><span>Current operation: </span>{{ vm.currentOperation || 'None' }}</h5>
